/* 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


} */

/* for whole body */




/* for alert  */




/* css for body */

body {
  
  --body-color: #38444d;
  --bg-color: white;
  background-color: var(--bg-color);
  text-transform: capitalize;

}

.dark-mode {
  --body-color: white;
  --bg-color: #38444d;
  background-color: var(--bg-color);
}

html {
  scroll-behavior: smooth;
}

a {
  color: var(--body-color);
  ;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--body-color);
}

/* for navbar and element inside navebar */

.logo {
  width: 20%;
  display: flex;
  align-items: center;
}


.logo img {
  width: 26%;
  border: 1px solid white;
  border-radius: 50px;
  margin-left: 37%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  position: sticky;
  top: 0%;
  cursor: pointer;

}

.nav-list {

  width: 70%;
  display: flex;
  align-items: center;


}

.nav-list li {
  list-style: none;
  padding: 26px 30px;

}

.nav-list li a {
  text-decoration: none;
  font-size: 16px;
  font-family: 'Ubuntu';

}

.nav-list li a:hover {
  text-decoration: none;
  color: #dc4d01;
  font-size: 17px;
  font-family: 'Ubuntu';

}

.leftnav {
  /* background-color: bisque; */
  width: 30%;
  text-align: right;
  padding: 0 23px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .background{
    background:white ; 
    background-size: cover;
    background-blend-mode: darken;
}  */

.search {
  height: 40px;
  width: 75%;
  border-radius: 17px;
  border: 2px solid rgb(0, 0, 0);

}

.btn {
  color: white;
  background-color: #dc4d01;
  border-radius: 6px;
  height: 32px;
  width: 77px;
}

.btn:hover {
  color: #0b257e;
  background-color: rgb(184, 21, 239);
  border-radius: 6px;
  height: 32px;
  width: 77px;
  cursor: pointer;
}


.logout-bar {


  display: none;
  /* Initially hidden */
  position: absolute;
  top: 84px;
  /* Adjust position relative to the button */
  right: -3%;
  transform: translateX(-52%);
  width: 117px;
  background-color: var(--bg-color);
  overflow: auto;
  /* Enable scrolling if content overflows */
  padding: 10px;
  z-index: 2;
  text-align: center;
  border-radius: 10px;
  color: var(--body-color);
  box-shadow: 0px 0px 20px 0px black;
}



/* for footer and its element  */

.footer-text {
  text-align: center;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 19px;
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  text-decoration: none;
  width: 100%;
  position: relative;
  left: 0;
  bottom: 0;
}

.footer-main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;

}

.footer-section {
  width: 50%;
  text-align: left;
}

.footer-section2 {
  width: 50%;


}

.sub-sec1 {
  width: 45%;
  text-align: left;
  list-style: none;
}

.sub-sec2 {
  width: 45%;
  text-align: left;
  margin-left: 55%;
  margin-top: -12%;
  list-style: none;
}

a {
  text-decoration: none;

}


/* for Homepage */
/* first section */
/* 
.firstsection{
    height: 100vh;
    
 
} */

.home-box {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}



.main-text-box {
  height: 100%;
  width: 55%;
  display: flex;
  justify-content: left;
  align-items: center;
  background-image: url(../images/bgimg.png);
  background-repeat: no-repeat;
  background-size: 50%, 100%;


}

.center-box {
  margin: 0% 0% 5% 20%;
  height: 40%;
  width: 50%;
  color: var(--body-color);
  background-color: var(--bg-color);
  border: 8px double var(--body-color);
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.heading {
  width: 100%;
  border-radius: 20px;
  border-bottom: 2px solid var(--body-color);
}




.rotate-img-box {
  height: 100%;
  width: 45%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

}

.img-box {
  margin-top: 10%;
  height: 90%;
  width: 90%;

}

.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}









/* 
section 2 home page */

.top-picks-main {
  background-color: red;
  height: 100vh;

}

.top-picks-sub {
  background-color: green;
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left:5%;
  flex-direction:column;
  gap:10px;
}

.top-picks-recipes {
  background-color: yellow;
  height: 45%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.top-picks-chefs{
  background-color: rgb(19, 188, 126);
  height: 45%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.text{
    text-align: center;
    color: var(--body-color);
}

/* 
.text-center {
  text-align: center;

}

 .text {
  text-align: center;
  color: var(--body-color);
}



.recipe-categories {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.recipe-categories img {
  width: 280px;
  height: 380px;
  border-radius: 15px;
  margin: 10px;
  transition: transform 0.3s ease;
}

.recipe-categories img:hover {
  transform: scale(1.1);
} */

/* 
signup page css */

.signup-form {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 2px solid #00eeff;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 0px #000000;

}


.form-group {
  margin-bottom: 20px;
}


label {
  display: block;
  color: var(--body-color);
  ;
  margin-bottom: 5px;
}

.signup-name,
.signup-email,
.signup-password,
.signup-profile-image {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 130px;
  background-color: #76818d;
  color: #ffffff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* login page css */

/* styles.css */
.container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--body-color);
  box-shadow: 0px 0px 20px 0px #000000;

}

.container h2 {
  margin-top: 0;
}

.container form input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: var(--body-color);
  background-color: var(--bg-color);
  ;
}

.container form input[type="submit"] {
  background-color: #007bff;

  cursor: pointer;
}

.oauth-buttons {
  margin-top: 20px;
}

.oauth-buttons p {
  margin-bottom: 10px;
}

.oauth-buttons img {
  width: 100px;
  /* Adjust the size as needed */
  height: auto;
}

/* 
create recipe form css */

.form-popup {

  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  z-index: 9;
  padding: 15px;
  max-width: 80%;
  /* Adjust the width as needed */
  max-height: 80%;
  /* Adjust the height as needed */
  overflow: auto;
  /* Enable scrolling */
  color: var(--body-color);
  background-color: var(--bg-color);
}

.form-container {
  max-width: 100%;
}

.form-container input[type=text],
.form-container textarea,
.form-container select {
  width: calc(100% - 20px);
  /* Adjust the width as needed */
  padding: 10px;
  margin: 5px 0 10px 0;
  border: none;
  border-bottom: 3px solid;
  color: var(--body-color);
  background-color: var(--bg-color);
  ;
}

.form-container input[type=submit] {
  background-color: #4CAF50;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  width: 100%;

}

.form-container input[type=submit]:hover {
  background-color: #45a049;
}

.close {
  position: absolute;
  top: 5px;
  right: 10px;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.remove-step {
  cursor: pointer;
}



/* recipe page css
 */

.sortednavbar-label {
  display: inline;
  /* Keeps labels on the same line */
  margin-right: 10px;
  */
}


.recipe-page {
  height: 100%;


  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 3%;
  padding-bottom: 3%;
  gap: 20px;
}

.filternavbar {
  height: 50%;
  width: 20%;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);



}

.recipeBoxcontainer {
  height: 90%;
  width: 70%;
  border-radius: 20px;

  padding: 1%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);


}


.sub-recipe-box {
  height: 80%;
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

.recipebox {
  height: 300px;
  width: 300px;
  border-radius: 20px;
  border: 2px solid #dc4d01;

  /*   margin:10px; */
}

.img-container {
  /* background-color:blue; */
  height: 65%;
  border-radius: 18px;
  border: 2px solid #dc4d01;
  display: flex;
  justify-content: right;

  background-size: cover;
  /* Resize the background image to cover the entire container */
  background-position: center;
  /* Center the background image within the container */

  transition: transform 0.3s ease;

}

.title-container {
  height: 26%;
  text-align: left;
  word-wrap: break-word;
  /* Allows long words to be broken and wrap to the next line */
  overflow-wrap: break-word;
  /* Ensures compatibility with other browsers */
  white-space: normal
}

.chefname-container {
  height: 8%;

  border-radius: 20px;
  text-align: right;
  width: 90%;

}

.addto-favorite-button {
  height: 20%;
  width: 15%;
  margin-top: 10px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid black;


}

.ratingdiv{
  color: white;
  background-color: #4caf50;
  height: 32%;
  width: 32%;
  border: 2px solid black;
  border-radius: 8px;
  text-align: center;
  margin-top: -10px;
  margin-left: 3px;
}

.img-container:hover img {
  transform: scale(0.8);
  /* Scale the image to 120% on hover */
}

.heart {
  height: 20px;
}



/* 
recipe_details.html recipedetail page css */

.image-box {
  height: 50vh;
  box-shadow: 0px 0px 20px 0px black;
  border-radius: 27px;
}

.recipe-bg-image {
  height: 100%;
  border-radius: 30px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  /* Resize the background image to cover the entire container */
  background-position: center;
  background-repeat: no-repeat;

}





.desc-details-box {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
}

.description-box-main {
  height: 80%;
  width: 65%;
  color: var(--body-color);
  box-shadow: 0px 0px 20px 0px black;
    border-radius: 33px;
}

.details-box-main {
  height: 80%;
  width: 25%;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  color: var(--body-color);
  ;

}

.description-pera {
  font-size: 15px;
  line-height: 25px;
  font-family: Ubuntu;
  color: var(--body-color);
  ;
  padding: 20px;
}

.details-box {
  height: 100%;
  width: 100%;
  /*   padding: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--body-color);
  ;
}

.detail-element {
  height: 20%;
  width: 90%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid;
}


.steps-box-main {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.steps-box {
  height: 90%;
  width: 93%;
  color: var(--body-color);
  ;

}

.ingridients-box-main {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;


}

.ingridients-box {

  height: 90%;
  width: 93%;
  color: var(--body-color);
  ;

}

.title-on-image {
  color: white;
  background-color: #dc4d01;
  border: 2px solid white;
  border-radius: 25px;
}

.review-box-main{
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width:100%;
  gap:30px;
  margin: 0;
}

.allreviews{

  background-color: rgb(108, 236, 233);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width:100%;
  gap:30px;
  margin: 0;


}
.like-dislike{
  display: inline-flex;
}

.feedback-box {
  box-shadow: 0px 0px 20px 0px black;
  background: #fff;zz
  padding: 20px;
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  height:280px;
  text-align: center;
}

.username {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}



.comment-box textarea {
  width: 90%;
  height: 60px;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}



.comment-box{
  height: 50%;
  width: 90%;
  overflow-wrap: break-word;
  padding: 0px 15px 0px 15px;

}

.checked {
  color: orange;
}

.star-rating {
  margin-top: 10px;
  display: inline-flex;
}

.star-rating input[type="radio"] {
  display: none;
}

.star-rating label {
  font-size: 2em;
  cursor: pointer;
  transition: color 0.3s;
  color: #ccc;
}

.star-rating input[type="radio"]:checked ~ label {
  color: #ff9800;
}

.star-rating input[type="radio"]:checked + label ~ label {
  color: #ccc;
}

.star-rating input[type="radio"]:checked ~ label:nth-of-type(-n+5) {
  color: #ff9800;
}

.submit-button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background: #2196f3;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.3s;
}

.submit-button:hover {
  background: #1976d2;
}

/* 
  chefs.css chefs page css */

.chefs-page {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chef-page-main-box{
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 20px 0px black;
  flex-wrap: wrap;
  padding: 1%;
  margin: 3%;
  border-radius: 20px;
}

.chefs-main {

  width: 90%;
  height: 80%;
  border-radius: 20px;
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 84px;
  column-gap: 84px;
  flex-wrap: wrap;
  margin: 3%;
  

}

.chefs-box {
  width: 150px;
  height: 200px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 0px black;

}

.chefs-img-box {
  height: 56%;
  display: flex;
  justify-content: center;
  align-items: center;


}

.chefs-img {
  height: 100%;
  width: 70%;
  background-size: cover;
  border-radius: 50%;

}

.chefs-name {
  height: 30%;
  overflow-wrap: break-word;

  text-align: center;
}

.chefs-name {
  text-align: center;
}


/* 
  chefsprofile page css */

.chefs-profile {
  height: 50vh;
 
  justify-content: center;
  align-items: center;
  display: flex;
}

.chefs-main-box {
  height: 90%;
  width: 95%;
  background-color: var(--bg-color);
  color: var(--body-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  border-radius: 36px;
  box-shadow: 0px 0px 20px 0px black;
}

.chefs-profile-img-box {
  height: 80%;
  width: 20%;
  background-color:var(--bg-color);
  color: var(--body-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 36px;
  box-shadow: 0px 0px 20px 0px black;

}


.chefs-detail-box {
  height: 80%;
  width: 70%;
  border-radius: 36px;
  background-color:var(--bg-color);
  color: var(--body-color);
  box-shadow: 0px 0px 20px 0px black;


}



/* 
dffdfdfd */





.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}



/* Sort bar container */
.sort-bar {


  display: none;
  /* Initially hidden */
  position: absolute;
  top: 220px;
  /* Adjust position relative to the button */
  right: -3%;
  transform: translateX(-50%);
  width: 250px;
  background-color: var(--bg-color);
  overflow: auto;
  /* Enable scrolling if content overflows */
  padding: 10px;
  z-index: 2;
  text-align: center;
  border-radius: 10px;
  color: var(--body-color);
  box-shadow: 0px 0px 20px 0px black;
}

.sort-bar-element{
  width: 100%;
  height: 40px;
  text-decoration: none;
  background-color: rgb(19, 45, 139);
  color: var(--body-color);
  box-shadow: 0px 0px 20px 0px black inset;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  border-bottom: 2px solid black;
}

.sort-bar-element:hover{

  background-color: rgb(207, 105, 236);
}

/* 
about page css */

.about-box-main{
  display:flex;
  justify-content:center;
  align-items:center;
}

.about-box{
  width:60%
}