{% extends 'base.html' %}


{% block body %}



<div class="image-box">
    <div class="recipe-bg-image" style="background-image: url('{{ MEDIA_URL }}{{ recipe.recipe_image.url }}');">
     
        <div class="title-on-image"><b>
                <h1 style="text-transform: capitalize; color: white;">{{ recipe.title }}</h1>
            </b></div>
    </div>
</div>
<div class="desc-details-box">
    <div class="description-box-main">
        <h3 style="margin-left:20px;    font-size: 35px;font-weight: bold; margin-bottom: 25px;">Description</h3>

        <p class="description-pera">{{ recipe_detail.description }}</p>
    </div>
    <div class="details-box-main">
        <div class="details-box">

            <div class="detail-element">
                <b>
                    <p style="display: inline;">Category</p>
                </b>
                <p style="margin-left: auto;">{{ recipe_detail.category }}</p>
            </div>
            <div class="detail-element">
                <b>
                    <p style="display: inline;">Total Time</p>
                </b>
                <p style="margin-left: auto;">{{ recipe_detail.total_time }} Minute</p>
            </div>
            <div class="detail-element">
                <b>
                    <p style="display: inline;">Difficulty</p>
                </b>
                <p style="margin-left: auto;">{{ recipe_detail.difficulty }}</p>
            </div>
            <div class="detail-element">
                <b>
                    <p style="display: inline;">Yields</p>
                </b>
                <p style="margin-left: auto;">{{ recipe_detail.yields }} Person</p>
            </div>
            <div class="detail-element" style="border-style: none;">
                <b>
                    <p style="display: inline;">Cuisine</p>
                </b>
                <p style="margin-left: auto;">{{ recipe_detail.cuisine }}</p>
            </div>

        </div>
    </div>
</div>


<div class="ingridients-box-main">
    <div class="ingridients-box">
        <h3 style="margin-left:20px;    font-size: 35px;font-weight: bold; margin-bottom: 25px;">Ingredients</h3>
        <ul>
            {% for ingredient in ingredients_list %}
                <li>{{ ingredient }}</li>
            {% endfor %}
        </ul>
    
    </div>
</div>


<div class="steps-box-main">
    <div class="steps-box">
        <h3 style="margin-left:20px;    font-size: 35px;font-weight: bold; margin-bottom: 25px;">Steps</h3>
        <ol>
            <li>{{ recipe_steps.step1 }}</li><br>
            <li>{{ recipe_steps.step2 }}</li><br>
            <li>{{ recipe_steps.step3 }}</li><br>
            <li>{{ recipe_steps.step4 }}</li><br>
            <li>{{ recipe_steps.step5 }}</li><br>
            <li>{{ recipe_steps.step6 }}</li><br>
            <li>{{ recipe_steps.step7 }}</li><br>
        </ol>
    </div>
</div>




<

<div class="feedback-box">
    <div class="username">User123</div>
    
    <div class="like-dislike">
        <input type="radio" id="like" name="like" value="1">
        <label for="like">👍</label> 

        <input type="radio" id="dislike" name="like" value="0">
        <label for="dislike">👎</label>
    </div>
    
    <div class="comment-box">
        <textarea placeholder="Leave a comment..."></textarea>
    </div>
    
    <div class="star-rating">
        <input type="radio" id="star5" name="rating" value="5">
        <label for="star5">★</label>
        <input type="radio" id="star4" name="rating" value="4">
        <label for="star4">★</label>
        <input type="radio" id="star3" name="rating" value="3">
        <label for="star3">★</label>
        <input type="radio" id="star2" name="rating" value="2">
        <label for="star2">★</label>
        <input type="radio" id="star1" name="rating" value="1">
        <label for="star1">★</label>
    </div>
    
    <button type="submit" class="submit-button">Submit</button>
</div>




{% endblock body %}