{% extends 'base.html' %}


{% block body %}


<div class="recipe-page">

    <div class="filternavbar">
        <h1>Filter By</h1>
        <form action="{%url 'Recipespage'%}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>Category</h2>
            <input type="checkbox" id="breakfast" name="category" value="Breakfast">
            <label class="sortednavbar-label" for="breakfast">Breakfast</label><br>
            <input type="checkbox" id="lunch" name="category" value="Lunch">
            <label class="sortednavbar-label" for="lunch">Lunch</label><br>
            <input type="checkbox" id="dinner" name="category" value="Dinner">
            <label class="sortednavbar-label" for="dinner">Dinner</label><br>

            <h2>Time</h2>
            <input type="number" id="time" name="time" min="0" max="60"><br>

            <h2>Difficulty</h2>

            <input type="radio" id="easy" name="difficulty" value="easy">
            <label class="sortednavbar-label" for="easy">Easy</label><br>
            <input type="radio" id="medium" name="difficulty" value="medium">
            <label class="sortednavbar-label" for="medium">Medium</label><br>
            <input type="radio" id="hard" name="difficulty" value="hard">
            <label class="sortednavbar-label" for="hard">Hard</label>
            <br><br>



            <button type="submit">Submit</button>
            <br>
        </form>
    </div>



    <div class="recipeBoxcontainer">

        <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">

            <h1 style="margin: 0;">{{ heading }}</h1>
            <button onclick="toggleSortBar()" style="margin-left: auto;width: 30%;">Sort By</button>

            <div id="sort-bar" class="sort-bar">
                <div class="sort-bar-element">
                    <b><a style="text-decoration:none; color: white;" href="?sort=new_to_old">New to Old
                            Recipes</a></b><br>
                </div>
                <div class="sort-bar-element">
                    <b><a style="text-decoration:none;color: white;" href="?sort=old_to_new">Old to New
                            Recipes</a><b><br>
                </div>
                <div class="sort-bar-element">
                    <b><a style="text-decoration:none;color: white;" href="?sort=rating_low_to_high">Rating (Low to
                            High)</a><b><br>
                </div>
                <div class="sort-bar-element">
                    <b><a style="text-decoration:none;color: white;" href="?sort=rating_high_to_low">Rating (High to
                            Low)</a><b><br>
                </div>
                <div class="sort-bar-element">
                    <b><a style="text-decoration:none;color: white;" href="?sort=time_low_to_high">Time (Low to
                            High)</a><b><br>
                </div>
                <div class="sort-bar-element">
                    <b><a style="text-decoration:none;color: white;" href="?sort=time_high_to_low">Time (High to
                            Low)</a><b><br>
                </div>
            </div>

        </div>

        <div class="sub-recipe-box">
            {% if allrecipesWithReating%}
            {% for item in allrecipesWithReating %}

            <div class="recipebox">

                <a href="{% url 'recipe_detail' item.recipe.id %}"" class="recipe-link">
                    <div class="img-container" style="background-image:">

                        {% if item.is_favorited%}
                        <button class="addto-favorite-button" style="background-color: #ff002d;"
                            onclick="event.stopPropagation(); location.href=''; return false;">&hearts;</button>

                        {% else %}
                        <button class="addto-favorite-button"
                            onclick="event.stopPropagation(); location.href=''; return false;  ">&hearts;</button>

                        {% endif %}

                    </div>

                    <div class="title-container">
                        <h3><b>{{ item.recipe.title }}</b></h3><br>
                        <div class="ratingdiv">4.5<i class="fa fa-star" style="color: #FFD43B;"></i>/5</div>


                    </div>
                    <div class="chefname-container">By:<i> {{ item.recipe.user }}</i></div>


                </a>
                {% endfor %}
                {% else %}
                <h1>No recipes</h1>
                {% endif %}
            </div>
        </div>
    </div>

    <script>
        function toggleSortBar() {
            let sortBar = document.getElementById("sort-bar");
            if (sortBar.style.display === "block") {
                sortBar.style.display = "none";
            } else {
                sortBar.style.display = "block";
            }
        }


        function addToFavorite(recipeId) {
            fetch(`/add_favorite/${recipeId}/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                },
            })
                .then(response => response.json())
                .then(data => {
                    // Handle response data as needed
                    console.log(data);
                })
                .catch(error => console.error('Error:', error));
        }
    </script>

    {% endblock body %} <div class="recipebox">

        <a href="{% url 'recipe_detail' item.recipe.pk %}" class="recipe-link">
            <div class="img-container"
                style="background-image: url('{{ MEDIA_URL }}{{ item.recipe.recipe_image.url }}');">


                {% if item.is_favorited%}
                <button class="addto-favorite-button" style="background-color: #ff002d;"
                    onclick="event.stopPropagation(); location.href='{% url 'add_favorite' item.recipe.pk %}'; return false;">&hearts;</button>

                {% else %}
                <button class="addto-favorite-button"
                    onclick="event.stopPropagation(); location.href='{% url 'add_favorite' item.recipe.pk %}'; return false;  ">&hearts;</button>

                {% endif %}

            </div>
            <div class="title-container">
                <h3><b>{{ item.recipe.title }}</b></h3><br>
                <div class="ratingdiv">{{ item.average_rating}}<i class="fa fa-star" style="color: #FFD43B;"></i>/5
                </div>


            </div>
            <!-- <div class="chefname-container">By:<i> {{ item.recipe.user }}</i></div> -->
    </div>