<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">
    <script src="{% static 'js/index.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <title> {% block title %} {% endblock title %} Chefify</title>
    <link rel="icon" href="{% static 'images/logo.jpeg' %}" type="image/x-icon" />
</head>



<body>
    <nav class="navbar background h-nav-resp">
        <div class="leftnav v-class-resp" id="leftnav">

            <a href="{% url 'home' %}">
                <div class="logo"> <img src="{% static '/images/logo.jpeg' %}" alt="logo"></div>
            </a>

            <div class="search-bar-div">
                <input type="text" name="search" id="searchInput" class="search"
                    placeholder="Search for recipes or chefs (min 3 letters)" minlength="3">
                <div id="suggestion-div" class="suggestion-div">
                    <h1 style=" text-align: left;">Recipe</h1>
                    <div class="searching-result" id="recipeResults">

                    </div>
                    <h1 style=" text-align: left;">Chefs</h1>
                    <div class="searching-result" id="chefResults">

                    </div>


                </div>
            </div>

        </div>
        <b>
            <div class="right-nav-div">
                <ul class="nav-list v-class-resp">
                    <div class="nav-list-div" id="nav-list-div">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'Recipespage' %}">Recipes</a></li>
                        <li><a href="{% url 'Chefspage' %}">Chefs</a></li>
                        <li><a href="{% url 'home' %}#top-recipe-box-main">Top &nbsp Picks</a></li>
                        <li><a href="{% url 'aboutpage' %}">About</a></li>
                    </div>

                    <div class="navbutton" id="navbutton">
                        {% if request.user.is_authenticated %}

                        <li><Button onclick="location.href='{% url 'createrecipeform' %}'" id="signupbutton"
                                class="btn">Create</Button>
                        </li>

                        <li><button onclick="toggleTheme()" id="lightdarkbutton" class="btn"><i id="toggleicon"
                                    class="fa fa-moon-o"></i></button></li>

                        <li><Button style="    height: 40px;width: 40px; border-radius: 50%;" onclick="logoutbar()"
                                id="signupbutton" class="btn"><i style='font-size:20px;color:white'
                                    class='fas'>&#xf406;</i></Button>
                        </li>
                        <div id="logout-bar" class="logout-bar">
                            <div class="sort-bar-element">
                                <b><a style="text-decoration:none;color: white;"
                                        href="{% url 'chefs_profile' request.user.username %}">My
                                        Profile</a></b><br>
                            </div>
                            <div class="sort-bar-element">
                                <b><a style="text-decoration:none;color: white;" href="{% url 'logout' %}">Change
                                        Password</a></b><br>
                            </div>
                            <div class="sort-bar-element">
                                <b><a style="text-decoration:none;color: white;"
                                        href="{% url 'logout' %}">Logout</a></b><br>
                            </div>
                        </div>
                        {% else %}
                        <li><Button onclick="toggleTheme()" id="lightdarkbutton" class="btn"><i
                                    style='font-size:20px;color:white' id="toggleicon"
                                    class="fa fa-moon-o"></i></Button></li>
                        <li><Button onclick="location.href='{% url 'signuppage' %}'" id="signupbutton" class="btn">Sign
                                Up</Button>
                        </li>
                        <li><Button onclick="location.href='{% url 'loginpage' %}'" id="loginbutton"
                                class="btn">Login</Button>
                        </li>
                        {% endif %}


                    </div>

                    <div class="hameburgar">
                        <a class="" class="hameburgar" onclick="displaynev()">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>

                </ul>
            </div>
        </b>

    </nav>



    <script>

        $(document).ready(function () {
            $('#searchInput').on('input', function () {
                var query = $(this).val().trim();
                if (query.length > 3) {

                    $('#suggestion-div').css('display', 'flex');

                    $.ajax({
                        url: '/get-suggestions/',
                        data: { 'query': query },
                        dataType: 'json',
                        success: function (data) {
                            // Clear previous results
                            $('#recipeResults').empty();
                            $('#chefResults').empty();

                            // Append recipe suggestions
                            if (data.recipes && data.recipes.length > 0) {
                                data.recipes.forEach(function (recipe) {
                                

                                    $('#recipeResults').append(
                                        '<a href="/recipe/' + recipe.recipe_id + '" class="search-element">' +
                                        '<img  src="{{ MEDIA_URL }}media/recipe_images/default_recipe_image.jpg"  style="border-radius:inherit; width: 9%;" />' +
                                        '<h4 style="text-align: left; text-overflow: ellipsis; padding-left: 12px; width: 90%;">' + recipe.title + '</h4>' +
                                        '</a>'
                                    );
                                });
                            }
                            else {
                                $('#recipeResults').append('<h3> No Recipe from this name </h3>');
                            }
                            // Append chef suggestions
                            if (data.chefs && data.chefs.length > 0) {
                                data.chefs.forEach(function (chef) {
                                    $('#chefResults').append(
                                        '<a href="chefs_profile/' + chef.username + '" class="search-element">' +
                                        '<img src="{{ MEDIA_URL }}media/chefs_images/a7b4c7bd-c3c8-4104-b146-5d11083c4c27.png" style="border-radius:inherit; width: 9%;" />' +
                                        '<h4 style="text-align: left; text-overflow: ellipsis;padding-left: 12px;width: 90%;">' + chef.name + '</h4>' +
                                        '</a>'
                                    );
                                });
                            }
                            else {
                                $('#chefResults').append('<h3> No Chef from this name </h3>');
                            }
                        }
                    });
                } else {
                    // Clear results if query length is less than or equal to 3
                    $('#recipeResults').empty();
                    $('#chefResults').empty();
                    $('#suggestion-div').css('display', 'none');

                }
            });
        });


    </script>



    {% if messages %}
    {% for message in messages %}
    {% if message.tags %}
    <script>alert("{{ message }}")</script> {% endif %}

    {% endfor %}

    {% endif %}


    {% block body %} {% endblock body %}




</body>

<footer class="footer">
    <div>
        <h3 style="color: white;">This Web App is Created For Learning and Educational Purpose</h3>
        <h3 style="color: white;">Made By : <a style="color: white;" href=""> Daksh Gupta &#128526;&#128526;&#128640;<i
                    class="fa fa-heart" style="font-size:26px;color:red"></i></a></h3>
        <a style="color: white;" href="https://github.com/dakshg393"><i class="fab fa-github"
                style="font-size:26px; color:white;"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a style="color: white;" href="https://linkedin.com/in/dakshg393"><i class='fab fa-linkedin'
                style='font-size:26px ;  color:white;'></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a style="color: white;" href="https://leetcode.com/u/dakshg393/"><i class=''
                style='font-size:26px;  color:white;'>Leetcode</i></a>

        <h3 style="color: white;">All Rights are Reserved By @dakshgupta</h3>
        <h3 style="color: white;">@CopyRight 2024-2030</h3>
    </div>
</footer>


</html>