<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">
    <script src="{% static '/js/index.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

    <title> {% block title %} {% endblock title %} Chefify</title>
</head>



<body>
    <nav class="navbar background h-nav-resp">
        <div class="leftnav v-class-resp" id="leftnav">

            <a href="{% url 'home' %}"><div class="logo"> <img src="{% static '/images/logo.jpeg' %}" alt="logo"></div></a>
            <input type="text" name="search" id="search" class="search">

        </div>
        <b>
            <div class="right-nav-div">
                <ul class="nav-list v-class-resp">
                    <div class="nav-list-div" id="nav-list-div">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'Recipespage' %}">Recipes</a></li>
                        <li><a href="{% url 'Chefspage' %}">Chefs</a></li>
                        <li><a href="{% url 'home' %}#top-recipe-box-main">Top &nbsp Picks</a></li>
                        <li><a href="{% url 'aboutpage' %}">About</a></li>
                    </div>

                    <div class="navbutton" id="navbutton">
                        {% if request.user.is_authenticated %}

                        <li><Button onclick="location.href='{% url 'createrecipeform' %}'" id="signupbutton"
                                class="btn">Create</Button>
                        </li>

                        <li><button onclick="toggleTheme()" id="lightdarkbutton" class="btn"><i id="toggleicon"
                                    class="fa fa-moon-o"></i></button></li>

                        <li><Button style="    height: 40px;width: 40px; border-radius: 50%;" onclick="logoutbar()"
                                id="signupbutton" class="btn"><i style='font-size:20px;color:white'
                                    class='fas'>&#xf406;</i></Button>
                        </li>
                        <div id="logout-bar" class="logout-bar">
                            <div class="sort-bar-element">
                                <b><a style="text-decoration:none;color: white;"
                                        href="{% url 'chefs_profile' request.user.username %}">My
                                        Profile</a></b><br>
                            </div>
                            <div class="sort-bar-element">
                                <b><a style="text-decoration:none;color: white;" href="{% url 'logout' %}">Change
                                        Password</a></b><br>
                            </div>
                            <div class="sort-bar-element">
                                <b><a style="text-decoration:none;color: white;"
                                        href="{% url 'logout' %}">Logout</a></b><br>
                            </div>
                        </div>
                        {% else %}
                        <li><Button onclick="toggleTheme()" id="lightdarkbutton" class="btn"><i
                                    style='font-size:20px;color:white' id="toggleicon"
                                    class="fa fa-moon-o"></i></Button></li>
                        <li><Button onclick="location.href='{% url 'signuppage' %}'" id="signupbutton" class="btn">Sign
                                Up</Button>
                        </li>
                        <li><Button onclick="location.href='{% url 'loginpage' %}'" id="loginbutton"
                                class="btn">Login</Button>
                        </li>
                        {% endif %}


                    </div>

                    <div class="hameburgar">
                        <a class="" class="hameburgar" onclick="displaynev()">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>

                </ul>
            </div>
        </b>

    </nav>

    {% if messages %}
    {% for message in messages %}
    {% if message.tags %}
    <script>alert("{{ message }}")</script> {% endif %}

    {% endfor %}

    {% endif %}



    <script>

        function toggleTheme() {
            var body = document.body;
            body.classList.toggle('dark-mode');

            // Store the current theme mode preference in a cookie
            var themeMode = body.classList.contains('dark-mode') ? 'dark' : 'light';
            document.cookie = "theme_mode=" + themeMode + ";path=/";

            var themeIcon = document.getElementById('toggleicon');
            if (themeMode === 'dark') {
                themeIcon.classList.remove('fa-moon-o');
                themeIcon.classList.add('fa-sun-o');
            } else {
                themeIcon.classList.remove('fa-sun-o');
                themeIcon.classList.add('fa-moon-o');
            }


        }

        // JavaScript code to apply theme mode
        document.addEventListener("DOMContentLoaded", function () {
            // Retrieve user's preferred theme mode from cookie, default to 'light' if not set
            var themeMode = document.cookie.replace(/(?:(?:^|.*;\s*)theme_mode\s*=\s*([^;]*).*$)|^.*$/, "$1") || 'light';

            // Apply appropriate theme mode styles
            if (themeMode === 'dark') {
                document.body.classList.add('dark-mode');  // Apply dark mode styles
            }


            var themeIcon = document.getElementById('toggleicon');
            if (themeMode === 'dark') {
                themeIcon.classList.remove('fa-moon-o');
                themeIcon.classList.add('fa-sun-o');
            } else {
                themeIcon.classList.remove('fa-sun-o');
                themeIcon.classList.add('fa-moon-o');

            }
        });

        function openForm() {
            document.getElementById("myForm").style.display = "block";
        }

        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }



        function logoutbar() {
            let logout = document.getElementById("logout-bar");
            if (logout.style.display === "block") {
                logout.style.display = "none";
            } else {
                logout.style.display = "block";
            }
        }

        function displaynev() {
            let navlst = document.getElementById("nav-list-div");
            let navbutton = document.getElementById("navbutton");
            let navlstDisplay = window.getComputedStyle(navlst).display;

            if (navlstDisplay === "none") {
                navlst.style.display = "block"; // Show the nav list
                navbutton.style.display = "none"; // Hide the nav button
            } else {
                navlst.style.display = "none"; // Hide the nav list
                navbutton.style.display = "flex"; // Show the nav button
            }
        }









    </script>



    {% block body %} {% endblock body %}




</body>

<footer class="footer">
    <div>
        <h3 style="color: white;">This Web App is Created For Learning and Educational Purpose</h3>
        <h3 style="color: white;">Made By : <a style="color: white;" href=""> Daksh Gupta &#128526;&#128526;&#128640;<i
                    class="fa fa-heart" style="font-size:26px;color:red"></i></a></h3>
        <a style="color: white;" href="https://github.com/dakshg393"><i class="fab fa-github"
                style="font-size:26px; color:white;"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a style="color: white;" href="https://linkedin.com/in/dakshg393"><i class='fab fa-linkedin'
                style='font-size:26px ;  color:white;'></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a style="color: white;" href="https://leetcode.com/u/dakshg393/"><i class=''
                style='font-size:26px;  color:white;'>Leetcode</i></a>

        <h3 style="color: white;">All Rights are Reserved By @dakshgupta</h3>
        <h3 style="color: white;">@CopyRight 2024-2030</h3>
    </div>
</footer>


</html>