{% extends 'base.html' %}
{% block body %}

<div class="" style="margin: 60px; box-shadow: 0px 0px 20px 0px #ff5900; border: 2px #ff5900;" id="myForm">
    <form class="form-container" action="{% url 'createrecipe' %}" method="post" action="/submit_recipe"
        enctype="multipart/form-data">
        {% csrf_token %} <!-- Include CSRF token for form submission -->


        <h1 style="color: #ff5900;text-align: center;">Create Recipe </h1>
        <label for="recipe_image">Recipe Image:</label>
        <input type="file" id="recipe_image" name="recipe_image" >
        <br>
        <br>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" maxlength="50" required>
        <br>
        <label for="description">Description:</label>
        <textarea id="description" name="description" maxlength="800" required></textarea>

        <label for="category">Category:</label>
        <select id="category" name="category"><br>
            <option value="North_Indian">North Indian</option>
            <option value="South_Indian">South Indian</option>
            <option value="Fast_Food">Fast Food</option>
            <option value="Drinks_Juices">Drinks & Juices</option>
            <option value="International_Cuisine">International Cuisine</option>
            <option value="Healthy_Diet" >Healthy & Diet</option>
            <option value="Desserts_Sweets">Desserts & Sweets</option>
            
        </select><br>
        <br>
        <label for="total_time">Total Time (minutes):</label>
        <input type="number" id="total_time" name="total_time" min="1" max="120"  required>
        <br><br>
        <label for="difficulty">Difficulty:</label>
        <select id="difficulty" name="difficulty">
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
        </select>
        <br><br>
        <label for="yields">Yields (Number of persons):</label>
        <input type="number" id="yields" name="yields" min="1" max="100"  required><br><br>

        <label for="cuisine">Cuisine:(like Indian)</label>
        <input type="text" id="cuisine" name="cuisine" maxlength="16" required>
        <br><br>
        <label for="ingredients">Ingredients:(Separate by ,)</label>
        <textarea id="ingredients" name="ingredients" maxlength="200"  required></textarea>

        <label for="steps">Steps:</label>
        <input type="text" id="id_steps" name="step1" value="" placeholder="Enter Step1">
        <input type="text" id="id_steps" name="step2" value="" placeholder="Enter Step2">
        <input type="text" id="id_steps" name="step3" value="" placeholder="Enter Step3">
        <input type="text" id="id_steps" name="step4" value="" placeholder="Enter Step4">
        <input type="text" id="id_steps" name="step5" value="" placeholder="Enter Step5">
        <input type="text" id="id_steps" name="step6" value="" placeholder="Enter Step6">
        <input type="text" id="id_steps" name="step7" value="" placeholder="Enter Step7">



        <input type="submit" value="Submit">
    </form>
</div>

{% endblock body %}