{% extends 'base.html' %}

{% block body %}


{% load static %}
<section class=" firstsection " id="Home">


  <div class="home-box">
    <div class="main-text-box">
      <div class="center-box">
        <div class="heading">
          <h1>Learn. Cook. Share.</h1>
          <h1>Cooking Made Easy.</h1>
        </div>
        <p class="typing-effect">Say good bye to long and frustrating<br>
          food blogs and recipe videos. Access
          <br> our recipe cards to prepare any dish<br>
          in minutes.
        </p>

        <Button style="height: 46px; width: 187px;" onclick="location.href='{% url 'Recipespage' %}'" id="signupbutton"
          class="btn">Browse Recipes</Button>

      </div>
    </div>
    <div class="rotate-img-box">
      <div class="img-box">
        <img src="{% static '/images/rotatingimage.png' %}" class="rotate" />
      </div>
    </div>
  </div>


</section>


<section class="section2">

  <div class="category ">

    <h1 style="text-decoration-line: underline;">What's on your mind?</h1><br><br>

    <div class="categorydiv">
      <a href="{% url 'Recipespage' %}?category=North_Indian">
        <div class="category-box-main">
          <div class="category-img-box">
            <img style=" width: 80%;" src="{% static '/images/northIndian.png' %}" alt="no images" />
          </div>

          <div class="category-title">
            <h3 style="text-align: center;">North Indian</h3>
          </div>
        </div>
      </a>



      <a href="{% url 'Recipespage' %}?category=South_Indian">
        <div class="category-box-main">
          <div class="category-img-box">
            <img style=" width: 80%;" src="{% static '/images/southIndian.png' %}" alt="no images" />
          </div>

          <div class="category-title">
            <h3 style="text-align: center;">South Indian</h3>
          </div>
        </div>
      </a>



      <a href="{% url 'Recipespage' %}?category=Fast_Food">
        <div class="category-box-main">
          <div class="category-img-box">
            <img style=" width: 80%;" src="{% static '/images/fastFood.png' %}" alt="no images" />
          </div>

          <div class="category-title">
            <h3 style="text-align: center;">Fast Food</h3>
          </div>
        </div>
      </a>



      <a href="{% url 'Recipespage' %}?category=Drinks_Juices">
        <div class="category-box-main">
          <div class="category-img-box">
            <img style=" width: 80%;" src="{% static '/images/juice.png' %}" alt="no images" />
          </div>

          <div class="category-title">
            <h3 style="text-align: center;">Drinks & Juices</h3>
          </div>
        </div>
      </a>



      <a href="{% url 'Recipespage' %}?category=International_Cuisine">
        <div class="category-box-main">
          <div class="category-img-box">
            <img style=" width: 80%;" src="{% static '/images/international.png' %}" alt="no images" />
          </div>

          <div class="category-title">
            <h3 style="text-align: center;">International Cuisine</h3>
          </div>
        </div>
      </a>



      <a href="{% url 'Recipespage' %}?category=Healthy_Diet">
        <div class="category-box-main">
          <div class="category-img-box">
            <img style=" width: 80%;" src="{% static '/images/healthy.png' %}" alt="no images" />
          </div>

          <div class="category-title">
            <h3 style="text-align: center;">Healthy & Diet</h3>
          </div>
        </div>
      </a>



      <a href="{% url 'Recipespage' %}?category=Desserts_Sweets">
        
        <div class="category-box-main">
          <div class="category-img-box">
            <img style=" width: 80%;" src="{% static '/images/sweet.png' %}" alt="no images" />
          </div>

          <div class="category-title">
            <h3 style="text-align: center;">Desserts & Sweets</h3>
          </div>
        </div>
      </a>

    </div>

  </div>


  
  <div id="top-recipe-box-main" class="top-recipe-box-main">

    <h1  style="text-decoration-line: underline;">Top Recipes</h1>

    <div class="top-recipe-box">


      {% if top_recipes %}
      {% for item in top_recipes %}
      <div class="recipebox">
        <a href="{% url 'recipe_detail' item.recipe.pk %}" class="recipe-link">
          <div class="img-container"
            style="background-image: url('{{ MEDIA_URL }}{{ item.recipe.recipe_image.url }}');">
            
          </div>
          <div class="title-container">
            <h3><b>{{ item.recipe.title }}</b></h3><br>
            {% if item.average_rating is not None %}
              <div class="ratingdiv">{{ item.average_rating|floatformat:2 }} <i class="fa fa-star" style="color: #FFD43B;"></i>/5</div>
            {% else %}
            <h6>no rating</h6>
            {% endif %}
          </div>
        </a>
      </div>
      {% endfor %}
      {% else %}
      <h1>No recipes</h1>
      {% endif %}







    </div>


  </div>




  <div id="top-chefs" class="top-chefs">

    <h1 style="text-decoration-line: underline;">Top chefs</h1>

    <div class="top-chef-box-main">

      {% for chefs in top_chefs %}

      <a href="{% url 'chefs_profile' chefs.chef.username %}">


        <div class="top-chef-box">
          <div class="top-chef-img" style="background-image: url('{{ MEDIA_URL }}{{ chefs.chef.chef_image.url }}');">
          </div>
          <div class="top-chef-name">

            <h3>{{ chefs.chef.username }}</h3>
            <div class="star-rating">
              {% if chefs.average_rating is not None %}
                <span style="font-size: large;"
                  class="fa fa-star{% if chefs.average_rating >= 1%} checked {% endif %}"></span>
                <span style="font-size: large;"
                  class="fa fa-star{% if chefs.average_rating >= 2%} checked {% endif %}"></span>
                <span style="font-size: large;"
                  class="fa fa-star{% if chefs.average_rating >= 3%} checked {% endif %}"></span>
                <span style="font-size: large;"
                  class="fa fa-star{% if chefs.average_rating >= 4%} checked {% endif %}"></span>
                <span style="font-size: large;"
                  class="fa fa-star{% if chefs.average_rating >= 5%} checked {% endif %}"></span>

              {% else %}

              <h6>No rating</h6>

              {% endif %}
            </div>
          </div>
        </div>

      </a>
      {% endfor %}

    </div>

  </div>




</section>

{% endblock body %}