{% extends 'base.html' %}

{% block body %}
{% load static %}
<div >
<div class="container">
    <div id="democontainer" style="text-align: center; opacity: 0.9;background-color: #c5c1fc;color: black;">
        <h3 style="color: black;">Demo Account</h3>
        <p>You can use the following credentials to log in without registering:</p>
        <p><strong>Username:</strong> <span style="text-transform: lowercase;color: black;">user1 </span></p>
        <p><strong>Password:</strong><span style="text-transform: lowercase;color: black;"> user1</span></p>

    </div>

    <h2 style="text-align: center;">Login</h2>
    <form method="post" action="{% url 'signin' %}" enctype="multipart/form-data">
        {% csrf_token %} <!-- Include CSRF token for form submission -->

        

        <label for="username">UserName:</label>
        <input  type="text" name="username" placeholder="Your Username" maxlength="20" required>
        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="Your Password" maxlength="20" required>
        <input type="submit" value="Login">
    </form>
    <div class="oauth-buttons">

        <p>Or Login with:</p>
        <a href="#"><img src="{% static 'images/google.png' %}" alt="Login with Google"></a> 
        
        <!-- Link to your Google image -->
        
    </div>
</div>
</div>
{% endblock body %}